<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Đổi mật khẩu</title>
  </head>
  <body>
    <h1>Đổi mật khẩu</h1>
    <label for='password'>Mật khẩu</label>
    <input type='password' id='password' />
    <label for='password_confirm'>Nhập lại mật khẩu</label>
    <input type='password' id='password_confirm' />
  </body>
</html>