<html>
  <head>
    <style>
    </style>
  </head>
  <body>
    <h1>Xác nhận email của bạn</h1>
    <h2>Chào bạn</h2>
    <h2 style='color: red'>Lưu ý không được chia sẻ mã xác nhận này với bất kỳ
      ai</h2>
    <h3>Để hoàn thành yêu cầu của bạn với Dang ky tai khoan, vui lòng nhập mã
      gồm 6 chữ số trên Trang xác minh Email:</h3>
    <h1 style='text-align:center; color:red'>{{codeAuth}}</h1>
  </body>
</html>